@if (previewUrl(); as src) {
  <div class="preview" role="group" [attr.aria-labelledby]="labelledBy()">
    <div class="preview__frame">
      <div
        class="preview__media"
        [attr.aria-busy]="!previewImageReady() ? 'true' : null"
      >
        @if (!previewImageReady()) {
          <div class="preview__placeholder">
            <app-loading-spinner [diameter]="40" [compact]="true" />
          </div>
        }
        <img
          class="preview__img"
          [class.preview__img--loaded]="previewImageReady()"
          [src]="src"
          alt=""
          (load)="onPreviewImageLoad()"
          (error)="onPreviewImageError()"
        />
      </div>
      <button
        type="button"
        matIconButton
        class="preview__clear"
        aria-label="Remove image"
        (click)="clear()"
      >
        <mat-icon aria-hidden="true">close</mat-icon>
      </button>
    </div>
    @if (fileName(); as name) {
      <p class="preview__name">{{ name }}</p>
    }
  </div>
} @else {
  <ngx-file-drop
    [multiple]="false"
    accept="image/jpeg,image/png"
    [showBrowseBtn]="false"
    dropZoneClassName="banner-drop"
    contentClassName="banner-drop__content"
    (onFileDrop)="onFilesDropped($event)"
  >
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
    >
      <div
        class="banner-drop__stack"
        role="group"
        [attr.aria-labelledby]="labelledBy()"
      >
        <button
          type="button"
          class="banner-drop__hit"
          (click)="openFileSelector()"
        >
          <mat-icon class="banner-drop__plus" aria-hidden="true">add</mat-icon>
          <span class="banner-drop__primary"
            >Drag an image here or click to browse</span
          >
          <span class="banner-drop__hint"
            >Formats: JPG, PNG. Maximum size: 5 MB.</span
          >
        </button>
        <app-button
          variant="stroked"
          type="button"
          buttonClass="banner-drop__choose"
          (click)="$event.stopPropagation(); openFileSelector()"
        >
          <mat-icon>upload_file</mat-icon>
          Choose image
        </app-button>
      </div>
    </ng-template>
  </ngx-file-drop>
}
