@if (isHeaderVariant()) {
  <a
    matButton
    [matButton]="matAppearance()"
    color="primary"
    [routerLink]="path()"
    [routerLinkActive]="activeRouteClass"
    [routerLinkActiveOptions]="routerLinkActiveOptions()"
    ariaCurrentWhenActive="page"
  >
    @if (icon(); as ic) {
      <mat-icon aria-hidden="true">{{ ic }}</mat-icon>
    }
    {{ label() }}
  </a>
} @else {
  <a
    matButton
    [matButton]="matAppearance()"
    color="primary"
    [routerLink]="path()"
    [class.nav-link--title]="isTitleVariant()"
  >
    {{ label() }}
  </a>
}
