@use 'styles/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
}

body {
  line-height: 1.5;
  color: $color-text;
  background: $color-bg-page;
}

app-root {
  display: block;
  min-height: 100%;
}
